.cart__title, .product, .banner {
  text-align: center;
}

.cart__item, .cart__title, .cart, .products, .header, body {
  box-sizing: border-box;
}

.cart__item, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #999;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 100px;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #333;
  justify-content: space-between;
}
.header__icon {
  width: 50px;
  cursor: pointer;
  display: inline-block;
}
.header__icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px; /* Ajusta según sea necesario */
  right: -10px; /* Ajusta según sea necesario */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.header__icon img {
  width: 35px;
}
.header__logo {
  width: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: #333;
  width: 150px;
  z-index: 999;
  border-radius: 5px;
  display: none; /* Oculto inicialmente */
}

.menu__close {
  text-align: right;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #444;
  font-size: 18px;
}

.menu__close:hover {
  background-color: #555; /* Efecto hover para la "X" */
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu li a:hover {
  background-color: #555;
}

.banner {
  width: 100%;
  padding: 60px 0;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.banner__title {
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
  margin: 0 auto;
}
.banner__description {
  width: 100%;
  font-size: 25px;
  opacity: 0.7;
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: baseline;
}

.product {
  cursor: pointer;
  margin-top: 10px;
}
.product__image {
  width: 200px;
  margin-bottom: 15px;
}
.product__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.product__price {
  font-weight: 300;
  font-size: 15px;
}
.product__add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.product__add-to-cart:hover {
  background-color: #218838;
}

.cart {
  width: 300px;
  background-color: #fff;
  padding: 25px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 100px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
}
.cart__title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
}
.cart__item {
  border-bottom: 1px solid #333;
  padding: 15px;
}
.cart__item-image {
  width: 35%;
}
.cart__item-description {
  margin: 0;
}
.cart__item-price {
  font-weight: 500;
}
.cart__item-delete {
  width: 35%;
  cursor: pointer;
}
.cart__item-delete-icon {
  width: 33%;
}

@media (max-width: 820px) {
  .header {
    padding: 15px;
  }
  .header__logo {
    width: 60px;
  }
  .header__icon {
    width: 30px;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .product__image {
    width: 150px;
  }
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 30px 0;
  }
  .banner__title {
    font-size: 18px;
  }
  .banner__description {
    font-size: 16px;
  }
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .product__image {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .product__title,
  .product__price {
    padding: 0 10px;
  }
  .cart {
    width: 100%;
    box-shadow: none;
  }
  .cart__title {
    padding: 15px 0;
  }
  .cart__item {
    flex-direction: column;
    align-items: center;
  }
  .cart__item-image {
    width: 100px;
  }
  .cart__item-description, .cart__item-price {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */